# Asegura .gitignore
cat > .gitignore <<'EOF'
# Secrets
.env
*.env
.env.*
*.pem
*.key
*.p12

# IDE
.vscode/
.idea/
*.iml

# Java build
**/target/
**/build/

# Node
node_modules/
dist/
.next/
out/

# Logs
*.log

# OS
.DS_Store
Thumbs.db
EOF


#IPv4	195.201.141.245/32
#IPv6	2a01:4f8:1c1c:b0e3::/64
#User	root
#Password	GyOIngenieria2026!
#Client number: K0172935426
#Login: galopezi@gmail.com
#Password Login: GyOIngenieria2026!

#Clave Deploy en Servidor
#Usuario: deploy
#Clave: Futbol1f1D3p0y