# fly.toml app configuration file generated for auth-service-empty-river-7553 on 2025-12-05T22:08:29-05:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'auth-service-empty-river-7553'
primary_region = 'lax'

[build]
  dockerfile = "Dockerfile"

[env]
  SPRING_PROFILES_ACTIVE = "prod"
  SERVER_PORT = "8080"

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

  [[http_service.checks]]
    interval = "15s"
    timeout = "2s"
    grace_period = "5s"
    method = "GET"
    path = "/actuator/health"

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
